.grid-container{
    width: 100%;
    max-width: 1200px;
}

.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 15px;
    background-color: white;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid white;
}

[class*='col-'] > p {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.discount{
    text-decoration: line-through;
    color: grey;
    padding-top: 4px;
}

.reviewer{
    color: grey;
}