<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/productLayout">


<body>
<div layout:fragment="content">


    <div class="grid-container outline">
        <div class="row">
            <div class="col-3">
                <img th:src="${productDetails.product.largeImage}">
            </div>

            <div class="col-2">
                <div class="row">
                    <h2 th:text="${productDetails.product.name}"></h2>
                </div>

                <div class="row">
                    <div>
                        <img th:src="${productDetails.product.customerRatingImage}">
                    </div>

                    <div>
                        <h4 th:text="${productDetails.product.brandName}"></h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-1">
                        <h2 th:text="${productDetails.product.salePrice}"></h2>
                    </div>

                    <div class="col-1" th:if="${productDetails.product.msrp} != null">
                        <h4 class="discount" th:text="List + ' '  + ${productDetails.product.msrp}"></h4>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <h2>About This Item</h2>
            </div>
        </div>
        <div class="row">
            <div>
                <p th:text="${productDetails.product.longDescription}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>Customer Review</h2>
            </div>
        </div>
        <div class="row" th:each="review : ${productDetails.reviews.reviews}">
            <div>
                <h4 th:text="${review.title}"></h4>
            </div>
            <div>
                <p th:text="${review.reviewText}"></p>
            </div>
            <div>
                <h4 class="reviewer" th:text="${review.reviewer}"></h4>
            </div>
        </div>
    </div>
</div>


</div>
</body>


</html>