<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/jdbc"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head layout:insert="~{fragments/header :: homeHeader (pageTitle='')}">
</head>
<body>

<div layout:insert="~{fragments/navbar}"></div>
<div layout:fragment="content"></div>

<div layout:insert="~{fragments/footer :: footer}"></div>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        var contextPath = [[@{/}]];

    </script>

    <script th:src="@{/resources/js/home.js}"></script>

</th:block>

</body>


</html>